* {
  font-family: arial, sans-serif;
  margin: 0;
}

/* colors
  background: #15202B
  post/card background: #192734
  card accents: #22303C
  light purple: #BB86FC
  text: #FFFFFF
  grey borders: #8899A6
*/

body {
  /* padding: 20px; */
  background-color: white;
  justify-content: center;
  width: 100%;
  height: 1000px;
}

#app {
  height: 100%;
  max-width: 100%;
}

.main-navbar {
  background-color: #15202b;
  border-bottom: white;
  border-width: 2px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.main-navbar > #link_logo {
  height: 90px;
  margin-left: 50px;
}

.main-navbar > #link_logo > img {
  height: 90px;
}

.main-navbar > #nav {
  margin-right: 50px;
}

#nav-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-right: 10px;
}

#nav-link:hover {
  text-decoration: underline;
  font-size: 2.4rem;
}

.scroll-down .main-navbar {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .main-navbar {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

.hamburger {
  color: white;
  background-color: Transparent;
  display: none;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

@media screen and (max-width: 860px) {
  #nav {
    display: none;
    width: 100%;
  }

  #nav.show {
    display: flex;
    margin-block: 20px;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    display: block;
    margin-right: 30px;
  }
}

#container {
  background-image: url("/images/missy-fant-OMIgwm1i_NY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #ffffff 1px solid;
}

#login-navbar {
  font-size: 4.5em;
  color: black;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.login-form {
  border: solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  font-size: 3rem;
  width: auto;
  align-items: center;
}

.login-form > form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 70%;
  flex-grow: 2;
  margin: 1em;
}

.login-form > form > label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.login-form > form > input {
  height: 25px;
}

.login-form > form > button {
  margin-top: 10px;
}

.beer-page {
  margin-top: 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 1fr 200px;
}

img {
  display: block;
  max-width: 100%;
}

.beer_header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/christin-hume-08tX2fsuSLg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40em;
  border-bottom: solid;
}

.beer_header > h1 {
  font-size: 4rem;
  color: #f28e1c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  max-width: 90%;
}

.beer_header > ul {
  display: flex;
  max-width: 100%;
  text-decoration: none;
  list-style: none;
}

.beer_header > ul > li {
  color: #f28e1c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.5rem;
  padding: 10px;
  text-decoration: none;
  border-left: solid;
  cursor: pointer;
}

.beer_header > ul > li:hover {
  color: #f28e1c;
  text-shadow: black 2px 2px;
  font-size: 1.6rem;
  padding: 10px;
  text-decoration: none;
  border-left: solid;
}

#ul_last_child {
  border-right: solid;
}

.beer-page > #beers {
  margin-top: 50px;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beer-page > #beers > #beer_section_title {
  color: black;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 1px 1px #f28e1c;
  margin-bottom: 50px;
}

.beer-page > #beers > #beer_card {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 80%;
  margin-bottom: 50px;
}

@media screen and (max-width: 970px) {
  .beer-page > #beers > #beer_card {
    flex-direction: column;
    max-width: 100%;
  }
}

#beer_img_section {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

#beer_img {
  max-width: 400px;
  max-height: 500px;
}

#beer_info_section {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#beer_name_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#beer_name {
  font-size: 3rem;
  text-shadow: 1px 1px #f28e1c;
  text-decoration: underline;
  margin-bottom: 10px;
  max-width: 100%;
}

#beer_info {
  display: flex;
  flex-direction: row;
}

#beer_info p {
  font-size: 1.3rem;
  border-left: solid;
  padding: 10px;
  margin-bottom: 20px;
}

#beer_description {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 690px) {
  .beer_header > ul {
    display: none;
  }

  #beer_description {
    display: none;
  }

  #beer_name {
    font-size: 1.9rem;
  }

  #beer_info p {
    font-size: 0.9rem;
  }
}

.button1 {
  display: inline-block;
  padding: 0.7em 2.5em;
  border: 0.1em solid black;
  margin: 0 1em 1em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color:  #f28e1c ;
  cursor: pointer;
}

.button1:hover {
  color: white;
  background-color: black;
}
@media all and (max-width: 30em) {
  .button1 {
    display: block;
    margin: 0.4em auto;
  }
}

/* Ty's CSS for Home Page BELOW */

.homePage {
  height: 1000px;
  width: 100%;
  background-image: url("/images/studio-blackthorns-6VCtB0wdgM0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePage > h1 {
  font-size: 7rem;
  color: #f28e1c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button1 > #link {
  text-decoration: none;
  color: black;
}

.button1 > #link:hover {
  color: white;
}

#ibeer_detail_page {
  background-color: #15202b;
  max-height: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
}

#ibeer_background {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
}

#ibeer_background > img {
  width: 100%;
  min-height: 80%;
  max-height: 700px;
  padding-bottom: 100px;
}

#ibeer_image {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#ibeer_image > img {
  max-height: 75%;
}

#ibeer_name_section {
  grid-column: 5 / 8;
  grid-row: 2 / 4;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white;
  border-width: 20px;
}

#ibeer_title {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 5rem;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

#ibeer_info_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ibeer_info_btns > form > input {
  width: 50px;
  height: 30px;
}

#ibeer_info_section {
  color: white;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: 50px;
}

#ibeer_info_description {
  max-width: 50%;
  min-width: 40%;
  font-size: 1.5rem;
  margin-left: 25px;
}

#ibeer_info_description > h3 {
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#ibeer_info_detail {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  min-width: 35%;
  max-width: 55%;
}

#itop-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#iabv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  border-right: solid #ffffff;
}

#istyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 5px;
}

#ibottom-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: solid #ffffff;
  margin-top: 5px;
}

#ibrewery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  border-right: solid #ffffff;
}

#iprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 5px;
}

#profile_page{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#header_backgroung {
  width: 100%;
  height: 700px;
  background-image: url("/images/timothy-dykes-Lq1rOaigDoY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
}

#profile_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 55%;
  color: black;
  /* border: solid black; */
  padding-inline: 50px;
}

#profile_photo  > img{
  width: 300px;
  height: 350px;
  border: #15202b;
  border-radius: 80%;
}

#profile_welcome {
  font-size: 3rem;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  text-align: center;
}

#empty-message {
  height: 200px;
  border: solid;
  margin-top: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#empty-message > p{
  padding-block: 7px;
}

#empty-message > button{
  margin-top: 15px;
}

#profile_beer_sections {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

#profile_beer_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  border: solid #15202B;
  border-radius: 2%;
}

#profile_beer_img {
  width: 30%;
  max-height: 70%;
}

#profile_beer_img > img{
  max-width: 400px;
  max-height: 400px;
}

#profile_info_section {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#profile_brewery_name {
  margin-bottom: 20px;
}

#user_score {
  margin-bottom: 20px;
  border: solid black;
  padding: 5px;
}

#purchase_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#purchase_button > form > input{
  height: 30px;
}

#empty-cart{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  width: 100%;
  height: 1000px;
  background-image: url("/images/markus-spiske-wL7pwimB78Q-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.COL-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: solid;
}

#cart_beer_name {
  text-transform: uppercase;
  padding-inline: 10px;
}

#cart_beer_qnt {
  padding-left: 10px;
  text-shadow: -1px -1px 0 #f28e1c, 1px -1px 0 #f28e1c, -1px 1px 0 #f28e1c, 1px 1px 0 #f28e1c;
}

#btn-quanity {
  background-color: #f28e1c;
  cursor: pointer;
  width: 25px;
  margin-right: 5px;
}

.cart-total-price {
  margin-block: 10px;
  color: #f28e1c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}